{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cadastrostyle.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="form-box">
        
    <form action="{% url 'salvar' %}" method="post">
        <h3>Cadastrando novo usuario:</h3>
        {% csrf_token %}
        <label for="nomeinput">Nome</label>
        <br>
        <input class="form-input" type="text" name="nome" id="nomeinput">
        <br>
        <label for="idadeinput">Idade</label>
        <br>
        <input class="form-input" type="text" name="idade"  id="idadeinput">
        <br>
        <button class="button" type="submit">Salvar</button> - <a href="{% url 'home' %}">Cancelar</a>
    </form>
</div>
</body>
</html>