<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(196, 194, 194);
        }
        .text-center{
            text-align: center;
        }
        .form-margin{
            margin-bottom: 8px;
        }
        .p-no-margin{
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
    <h2>Pessoas cadastradas no banco de dados:</h2>
<table border="1">
    <tr>
        <td>Nome</td>
        <td>Idade</td>
    </tr>
    {% for pessoa in pessoas %}
    <tr>
        <td><a title="Editar usuario" href="{% url 'editar' pessoa.id %}">{{ pessoa.nome }}</a></td>
        <td>{{ pessoa.idade }}</td>
    </tr>
    {% endfor %}
</table>

<p>
    <a  href="{% url 'cadastro'%}">Cadastrar nova pessoa</a>
</p>    
</body>
</html>